.searchBar {
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 15px;
}

@media only screen and (max-width: 768px) {
  .searchBar input {
    width: 12rem;
  }
}
