@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,800;0,900;1,800&display=swap');

.HeaderMain {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(116, 31, 162);
  margin: none;
  height: 60px;
  display: flex;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.HeaderThreeLink {
  padding: 12px 16px;
  border-radius: 18px;
}

.HeaderThreeLink:hover {
  background-color: rgba(59, 130, 246, 0.5);
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 768px) {
  .HeaderThree {
    /* padding: 12rem 0rem; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20rem 0;
  }

  .HeaderThreeLink {
    font-size: 23px;
    padding-top: 5px;
  }

  .HeaderThreeLink:hover {
    background-color: none;
  }
}
